<html>
<!-- Header -->
<nav class="navbar navbar-expand-lg bg-body-tertiary header clearfix">
  <div class="container-fluid">
    <div>

    </div>

    <a class="navbar-brand" href="#"> <img src="assets\images\icon2.png" alt="Icona Autonoleggio"></a>
    <h1 class="titolo">AutoNoleggio</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/auto">Parco Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/noleggio">Prenota Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/home">Termini e Condizioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/home">Q&A</a>
        </li>

      </ul>

      <div class="login">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle color_button" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Login
          </button>

          <form class="dropdown-menu ">
            <div class="mb-3 prova">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Non condividere la tua mail con nessuno</div>
            </div>
            <div class="mb-3 prova ">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input prova1" id="exampleCheck1">
              <label class="form-check-label prova" for="exampleCheck1">Ricordami</label>
            </div>
            <button type="submit" class="btn btn-primary prova2 ">Accedi</button>
          </form>

        </div>
      </div>

      <div class="registrazione">
        <div>
          <button class="btn btn-secondary color_button" type="button">
            Registrati
          </button>
        </div>
      </div>

    </div>
  </div>
</nav>


<mat-sidenav-container class="example-container" autosize>

  <div class="example-sidenav-content">
    <!-- Codice delle card delle automobili -->

    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let automobile of auto">
        <div class="card-title">
          <h2> {{automobile.modello}}</h2>
        </div>
        <div class="card">
          <!-- <img [src]="getCarImage(automobile.modello)" class="card-img-top" alt="Immagine non disponibile">-->
          <img [src]=" getCarImage(automobile.modello)" class="card-img-top" alt="Immagine non disponibile">
          <div class="card-body">
            <p class="card-text">Targa: {{ automobile.targa }}</p>
            <p class="card-text">Tipologia auto: {{ automobile.tipoAuto }}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-danger" (click)="cancellaAuto(automobile.idAuto)">Noleggia auto</button>
            <button class="btn btn-danger" (click)="cancellaAuto(automobile.idAuto)">Elimina auto</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</mat-sidenav-container>


<!-- Modulo per l'aggiunta di una nuova auto -->
<div class="new-auto-form">
  <h2>Aggiungi una nuova auto</h2>

  <mat-form-field appearance="fill">
    <mat-label>Targa</mat-label>
    <input matInput type="text" [(ngModel)]="nuovaAuto.targa">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> Modello</mat-label>
    <input matInput type="text" [(ngModel)]="nuovaAuto.modello">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo Auto</mat-label>
    <input matInput type="text" [(ngModel)]="nuovaAuto.tipoAuto">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="aggiungiAuto()">Aggiungi Auto</button>

</div>




<!-- Footer -->

<footer class="footer">
  <div class="container">
    <div class="row text">
      <div class="col-md-4">
        <h5 class="text_h5">Contatti</h5>
        <p class="text_p">Indirizzo: Via Autonoleggio, 123</p>
        <p class="text_p">Telefono: 0123456789</p>
        <p class="text_p">Email: info@autonoleggio.com</p>
      </div>
      <div class="col-md-4">
        <h5 class="text_h5">Link Utili</h5>
        <ul class="list-unstyled">
          <li><a class="link" href="http://localhost:4200/home">Home</a></li>
          <li><a class="link" href="http://localhost:4200/auto">Parco Auto</a></li>
          <li><a class="link" href="http://localhost:4200/noleggio">Prenota Auto</a></li>
          <li><a class="link" href="http://localhost:4200/home">Termini e Condizioni</a></li>
          <li><a class="link" href="http://localhost:4200/home">Q&A</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text_h5">Social</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center text_copy">© 2023 Autonoleggio. Tutti i diritti riservati.</p>
  </div>
</footer>


</html>
