.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  color: black;
}

.example-container {
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 16px;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}


/* css per card */
.card {
  height: 92%;
  width: 92%;
  margin-bottom: 0.5px;
  margin-right: 0;
}


img {
  object-fit: cover;
}


button{
  margin: 3px;
}

h2{
  text-align: center;
}
