<mat-toolbar color="warn" class="mat-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded" class="example-icon"
    aria-label="Example icon-button with menu icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Noleggio Auto</span>
  <span class="example-spacer"></span>
  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" mat-raised-button>
    Login
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"> Accedi al tuo account </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input matInput type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                required ngModel>
              <label for="floatingInput">Indirizzo Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Ricordarmi
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button class="w-100 btn btn-lg btn-dark" type="submit">Accedi</button>
            <hr class="my-4">
            <small class="text-body-secondary"></small>
          </div>
        </form>
      </div>
    </div>
  </div>

  <button class="btn btn-dark" role="listitem" routerLink="registrazione" [routerLinkActive]="'active'"
    mat-raised-button>
    Registrazione
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
          *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        <mat-icon>home</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="http://localhost:4200/auto">Parco Auto</a>
        <a mat-list-item href="">Prenota Noleggio</a>
        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Termini e Condizioni</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}"
            *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
          <mat-list-item>SubSubmenu Item 1</mat-list-item>
          <mat-list-item>SubSubmenu Item 2</mat-list-item>
        </div>
      </div>
    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <div class="example-sidenav-content">

   <h1>Inserire qualcosa </h1>

  </div>
</mat-sidenav-container>
