<html class="clearfix">
<!-- Header -->
<nav class="navbar navbar-expand-lg bg-body-tertiary header clearfix">
  <div class="container-fluid">
    <div>
    </div>
    <a class="navbar-brand" href="http://localhost:4200/home"> <img src="assets\images\icon2.png" alt="Icona Autonoleggio"></a>
    <h1 class="titolo">AutoNoleggio</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/auto">Parco Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/noleggio">Prenota Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/home">Termini e Condizioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/home">Q&A</a>
        </li>

      </ul>

      <div class="login">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle color_button" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Login
          </button>

          <form class="dropdown-menu ">
            <div class="mb-3 prova">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Non condividere la tua mail con nessuno</div>
            </div>
            <div class="mb-3 prova ">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input prova1" id="exampleCheck1">
              <label class="form-check-label prova" for="exampleCheck1">Ricordami</label>
            </div>
            <button type="submit" class="btn btn-primary prova2 ">Accedi</button>
          </form>

        </div>
      </div>

      <div class="registrazione">
        <div>
          <button class="btn btn-secondary color_button" type="button">
            <a style="text-decoration: none; color:#fff" href="http://localhost:4200/registrazione">Registrati</a>
          </button>
        </div>
      </div>

    </div>
  </div>
</nav>



<!-- Modulo Registrazione -->
<div class="container-registrazione">
  <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Modulo Registrazione</h1>
  <form class="form-registrazione">

    <!-- Nome -->
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput type="text" name="nome" required [(ngModel)]="utente.nome">
    </mat-form-field>

    <!-- Cognome -->
    <mat-form-field appearance="fill">
      <mat-label>Cognome</mat-label>
      <input matInput type="email" name="email" required [(ngModel)]="utente.cognome">
    </mat-form-field>

    <!-- Data Di Nascita -->
    <mat-form-field appearance="fill">
      <mat-label>Data Di Nascita</mat-label>
      <input matInput type="date" pattern="\d{4}- \d{2}- \d{2}" name="email" required [(ngModel)]="utente.dataDiNascita">
    </mat-form-field>

    <!-- Numero Patente -->
    <mat-form-field appearance="fill">
      <mat-label>Numero Patente</mat-label>
      <input matInput type="text" name="numeroPatente" required [(ngModel)]="utente.numeroPatente">
    </mat-form-field>

    <!--Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required [(ngModel)]="utente.email">
    </mat-form-field>

    <!-- Password-->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" required [(ngModel)]="utente.password">
    </mat-form-field>

    <!-- Invia Form -->
    <button class="btn btn-secondary color_button" type="submit" (click)="nuovoUtente()" >Completa Registrazione</button>
  </form>
</div>





<!-- Footer -->

<footer class="footer">
  <div class="container">
    <div class="row text">
      <div class="col-md-4">
        <h5 class="text_h5">Contatti</h5>
        <p class="text_p">Indirizzo: Via Autonoleggio, 123</p>
        <p class="text_p">Telefono: 0123456789</p>
        <p class="text_p">Email: info@autonoleggio.com</p>
      </div>
      <div class="col-md-4">
        <h5 class="text_h5">Link Utili</h5>
        <ul class="list-unstyled">
          <li><a class="link" href="http://localhost:4200/home">Home</a></li>
          <li><a class="link" href="http://localhost:4200/auto">Parco Auto</a></li>
          <li><a class="link" href="http://localhost:4200/noleggio">Prenota Auto</a></li>
          <li><a class="link" href="http://localhost:4200/home">Termini e Condizioni</a></li>
          <li><a class="link" href="http://localhost:4200/home">Q&A</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text_h5">Social</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center text_copy">© 2023 Autonoleggio. Tutti i diritti riservati.</p>
  </div>
</footer>


</html>
