<html>
<nav class="navbar navbar-expand-lg bg-body-tertiary header clearfix">
  <div class="container-fluid">
    <div>

    </div>

    <a class="navbar-brand" href="http://localhost:4200/home"> <img src="assets\images\icon2.png" alt="Icona Autonoleggio"></a>
    <h1 class="titolo">AutoNoleggio</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/auto">Parco Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/noleggio">Prenota Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/home">Termini e Condizioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/home">Q&A</a>
        </li>

      </ul>

      <div class="login">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle color_button" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Login
          </button>

          <form class="dropdown-menu ">
            <div class="mb-3 prova">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Non condividere la tua mail con nessuno</div>
            </div>
            <div class="mb-3 prova ">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input prova1" id="exampleCheck1">
              <label class="form-check-label prova" for="exampleCheck1">Ricordami</label>
            </div>
            <button type="submit" class="btn btn-primary prova2 ">Accedi</button>
          </form>

        </div>
      </div>

      <div class="registrazione">
        <div>
          <button class="btn btn-secondary color_button" type="button">
            <a style="text-decoration: none; color:#fff" href="http://localhost:4200/registrazione">Registrati</a>
          </button>
        </div>
      </div>

    </div>
  </div>
</nav>



<div class="main-content">
  <section class="cover" [style.background-image]="'url(' + bgImage + ')'">
    <div class="cover_filter"></div>
    <div class="cover_caption">
      <div class="cover_caption_copy">
        <h1> Primary message of the Home</h1>
        <h2>Subtitle of the home page</h2>
        <a class="button_cover" href="">Call to action</a>
      </div>
    </div>
  </section>






  <!-- Prima sezione: Tipologia Auto -->
  <div class="tipologia">
    <h2 class="tipologia_h2"><strong> Prenota l'auto dei tuoi desideri</strong></h2>
  </div>



  <section class="cards clearfix">

    <!-- Utilitaria Card-->
    <div class="card">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets\images\FiatPanda.jpg" class="d-block w-100" alt="Fiat Panda">
          </div>
          <div class="carousel-item">
            <img src="assets\images\OpelCorsa.png" class="d-block w-100" alt="Opel Corsa">
          </div>
          <div class="carousel-item">
            <img src="assets\images\Hyundai.jpg" class="d-block w-100" alt="Hyndai i20">
          </div>
        </div>
      </div>
      <div class="card_copy">
        <h3 class="style_h3"><strong>Utilitaria</strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit fuga facere commodi unde cum temporibus
          fugit eligendi aperiam error facilis modi enim repellendus non consectetur, quaerat beatae culpa, repudiandae
          dolorem?</p>
      </div>
    </div>
    <!-- Business Card-->
    <div class="card">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="" alt="Mercedes">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="Audi">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="BMW">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="AlfaRomeo">
          </div>
        </div>
      </div>
      <div class="card_copy">
        <h3 class="style_h3"><strong>Business</strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit fuga facere commodi unde cum temporibus
          fugit eligendi aperiam error facilis modi enim repellendus non consectetur, quaerat beatae culpa, repudiandae
          dolorem?</p>
      </div>
    </div>
    <!-- Luxury Card-->
    <div class="card">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="" alt="Ferrari">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="Lamborghini">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="Porsche">
          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="Maserati">
          </div>
        </div>
      </div>
      <div class="card_copy">
        <h3 class="style_h3"><strong>Luxury</strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit fuga facere commodi unde cum temporibus
          fugit eligendi aperiam error facilis modi enim repellendus non consectetur, quaerat beatae culpa, repudiandae
          dolorem?</p>
      </div>
    </div>

  </section>


  <!-- Seconda sezione: Tipologia Noleggio -->
  <div class="tipologia">
    <h2 class="tipologia_h2"><strong>Puoi scegleire tra tre diversi tipi di noleggio</strong></h2>
  </div>

  <section class="cards clearfix">

    <div class="card">
      <div class="card_copy">
        <h3 class="style_h3"><strong>Car Sharing</strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit fuga facere commodi unde cum temporibus
          fugit eligendi aperiam error facilis modi enim repellendus non consectetur, quaerat beatae culpa, repudiandae
          dolorem?</p>
      </div>
    </div>
    <div class="card">
      <div class="card_copy">
        <h3 class="style_h3"><strong>Breve Termine</strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit fuga facere commodi unde cum temporibus
          fugit eligendi aperiam error facilis modi enim repellendus non consectetur, quaerat beatae culpa, repudiandae
          dolorem?</p>
      </div>
    </div>
    <div class="card">
      <div class="card_copy">
        <h3 class="style_h3"><strong>Lungo Termine</strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit fuga facere commodi unde cum temporibus
          fugit eligendi aperiam error facilis modi enim repellendus non consectetur, quaerat beatae culpa, repudiandae
          dolorem?</p>
      </div>
    </div>

  </section>
</div>

<!-- Footer -->

<footer class="footer">
  <div class="container">
    <div class="row text">
      <div class="col-md-4">
        <h5 class="text_h5">Contatti</h5>
        <p class="text_p">Indirizzo: Via Autonoleggio, 123</p>
        <p class="text_p">Telefono: 0123456789</p>
        <p class="text_p">Email: info@autonoleggio.com</p>
      </div>
      <div class="col-md-4">
        <h5 class="text_h5">Link Utili</h5>
        <ul class="list-unstyled">
          <li><a class="link" href="http://localhost:4200/home">Home</a></li>
          <li><a class="link" href="http://localhost:4200/auto">Parco Auto</a></li>
          <li><a class="link" href="http://localhost:4200/noleggio">Prenota Auto</a></li>
          <li><a class="link" href="http://localhost:4200/home">Termini e Condizioni</a></li>
          <li><a class="link" href="http://localhost:4200/home">Q&A</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text_h5">Social</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center text_copy">© 2023 Autonoleggio. Tutti i diritti riservati.</p>
  </div>
</footer>

</html>
